.container {
    background: #444 url(../img/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    color: #fff;
}
h1 {
    margin: 0;
    font-size: 24px;
    letter-spacing: 2px;
}
h2 {
    margin: 0;
    font-size: 20px;
}
p {
    /*margin: 0;*/
    font-size: 14px;
    letter-spacing: 1.5px;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
}
button {
    border: none;
    background: rgb(255, 60, 60);
    color: #fff;
    padding: 10px 30px;
    font-size: 12px;
    /*border-radius: 5px;*/
}
.hr {
    width: 100%;
    height: 2px;
    margin: 20px auto;
}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
}
.clearfix:after {
    display: block;
    content: '';
    clear: both;
}
header {
    background: rgba(0, 0, 0, 0.2);
}
nav {
    /*background: rgba(0, 0, 0, 0.2);*/
    height: 60px;
}
nav ul {
    list-style: none;
    margin: 0;
    float: right;
}
nav ul li, .logo {
    display: inline-block;
    line-height: 50px;
    padding: 0 16px;
}
nav ul li.active {
    border-bottom: 3px solid #fff;
}
nav ul li a {
    line-height: inherit;
    display: inline-block;
    color: #fff;    
}
nav ul li:hover {
    background: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
}
nav ul .menubar {
    margin: 5px;
}
.logo {
    margin-left: 20px;
    float: left;
}
.logo a {
    font-size: 24px;
    color: #fff;
    display: inline-block;
}
.banner {
    background: transparent;
    height: 600px;
}
.banner .inner {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    top: 100px;
    /*background: rgba(0, 0, 0, 0.2);*/
    padding: 50px 100px;
    border-radius: 10px;
}
.banner .inner h1 {
    padding: 20px;
    border-top: 3px solid  rgba(255,255,255,0.6);
    border-bottom: 3px solid  rgba(255,255,255,0.6);
}
.banner .inner p {
    line-height: 24px;
}
.banner .inner button {
    margin-top: 20px;
}
.first-section {
    background: #38c799;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
.first-section .wrapper div.hr {
    width: 60%;
    background: #38b18a;
}
.first-section .wrapper p {
    line-height: 20px;
}
.first-section .icon-group {
    margin-top: 60px;
}
.first-section .icon-group .icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: solid 1px #3b9a7c;
    transform: rotate(45deg);
    margin: 24px;
}
.first-section .icon-group .icon i {
    margin: 15px;
    transform: rotate(-45deg);    
}

.second-section {
    background: #041a1f;
    color: #fff;
}
.article-preview > div {
    float: left;
    font-size: 0;
}
/* The same to .clearfix */
.article-preview:after {
    content: '';
    display: block;
    clear: both;
}
.article-preview:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}
.article-preview .img-section {
    width: 45%;
}
.article-preview .img-section img {
    width: 100%;
}
.article-preview .text-section {
    width: 55%;
    margin: 0 auto;
    position: relative;
    top: 80px;
    left: 60px;
}
.text-section > * {
    max-width: 80%;
}
.text-section h2 {
    margin-bottom: 20px;
}
.text-section .subheading {
    font-size: 16px;
}
.text-section p {
    line-height: 20px;
}

.third-section {
    background: #3c2a52;
    color: #fff;
    padding: 60px;
}
.third-section .heading-wrapper {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}
.heading-wrapper .hr {
    background: #390e5a;
    width: 60%;
}
.card-group {
    margin-top: 50px;
}
.card-group .card {
    float: left;
    width: 50%;
    min-height: 200px;
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card:first-child {
    background: rgba(0, 0, 0, 0.05);
}
.card:nth-child(2) {
    background: rgba(0, 0, 0, 0.10);    
}
.card:nth-child(3) {
    background: rgba(0, 0, 0, 0.15);    
}
.card:nth-child(4) {
    background: rgba(0, 0, 0, 0.20);    
}
.card:nth-child(5) {
    background: rgba(0, 0, 0, 0.25);    
}
.card:nth-child(6) {
    background: rgba(0, 0, 0, 0.30);    
}
footer {
    border-top: 5px solid rgba(0, 0, 0, 0.2);
    background: #0a0b15;
    min-height: 180px;
    text-align: center;
    color: #fff;
}
footer ul.share-group {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}
footer ul.share-group li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 25px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
.mask {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.sidebar {
    position: fixed;
    top: 60px;
    right: -280px;
    bottom: 0;
    width: 280px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: right 0.2s;
    border-radius: 2px;
}
.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar ul li {

}
.sidebar ul li a {
    display: inline-block;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 24px 0;
}
.sidebar ul li a:hover {
    background: #444;
}

.back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: rgba(0, 0, 0, 0.6);
    padding: 0 10px;
    border-radius: 2px;
}
.back-top i {
    padding-bottom: 5px;
}
.login-cover {
    display: none;
    position: fixed;
    width: 260px;
    height: 310px;
    background: #fff;
    top: 0;
    left: 0;
    border-radius: 5px;
}
.login-form {
    padding: 20px;
}
.login-form .login-label {
    font-size: 22px;
    margin-bottom: 15px;
}
.login-form .form-group {
    margin: 18px 0;
    width: 100%;
}
.login-form > * {
    /*font-size: 0;*/
}
.login-form input {
    width: inherit;
    height: 30px;
    border: 1px solid #e8e8e8;
    border-radius: 1px;
    padding: 0 10px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login-btn {
    width: 100%;
    height: 30px;
    border-radius: 1px;
    background: #007fff;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-group .reset-password {
    float: left;
    color: #555;
    font-size: 14px;
}
.form-group .register {
    float: right;
    font-size: 14px;
    color: #555;
}
.login-form .hr {
    margin-top: 55px;
    width: 80%;
    padding: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.20);
}
.other-platform {
    width: 70%;
    margin: 0 auto;
}

.other-platform .text {
    font-size: 12px;
    margin-right: 10px;
    
}
/*article*/
.article header {
    background: #444 url(../img/article_banner.jpeg);
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.article nav {
    background: rgba(0, 0, 0, 0.2);
}
.article .banner {
    background: transparent;
    height: 200px;
}
.article .banner .inner {
    background: none;
}
.article .banner .inner {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    margin-left: 120px;
    text-align: center;
    top: 0px;
    /*writing-mode: tb-rl;*/
    writing-mode: vertical-lr;
}
.article .banner .inner h1 {
    padding: 0 10px;
    border: none;
    color: rgb(255, 60, 60);
    border-left: 3px solid rgba(255,255,255,0.6);
    border-right: 3px solid rgba(255,255,255,0.6);
}
.article .banner .inner p {
    line-height: 24px;
}
.article .content {
    background: rgba(45, 44, 47, 0.85);;
}
.article .content .wrapper {
    max-width: 80%;
}
.article .article-head {
    padding: 30px;
}
.article-head .hr {
    margin: 0;
    padding: 5px;
}
.article-head span {
    font-size: 16px;
    color: rgb(255, 60, 60);
}
.article-body p {
    margin: 0;
    line-height: 24px;
    text-indent: 30px;
}
.article-body p:last-child {
    padding-bottom: 50px;
}
.article-body pre {
    margin: 0;
    padding: 0;
}